{% load static %}
<html>
    <head>
        <title>Gamingblog!</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=VT323&display=swap' rel='stylesheet' type='text/css'> 
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>

    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            {% endif %}            
            <h1><a href="/">Gamingblog!</a></h1>
            <h2><a href="/">Aus Leidenschaft am Spiel...</a></h2>
        </div>

        <div class="imagepost">
            <img src="https://www.chacos.com/on/demandware.static/-/Sites-chacos_us-Library/default/dw6141e64c/content/seasonal-content/landing-pages/pacman/2017/08/chco-20170814-desktop-pacman-header-bkgd.jpg" alt="pacman" class="responsive"/>
        </div>
        
        <div class="eventlink">
            <h4><a href="{% url 'event_list' %}">>Events</a></h4>
        </div>

        <div class="blog-header">
            <h3><a href="/">Blogeinträge</a></h3>
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>

    </body>
</html>